@import "tailwindcss";

:root {
  --bg-color: #f3f5ff;           /* একদম ডার্ক ব্যাকগ্রাউন্ড */
  --text-main: #050505;           /* উজ্জ্বল সাদা টেক্সট */
  --text-dim: #2f3339;           /* হালকা ধূসর টেক্সট */
  --accent-color: #39afd0;       /* ছবির মতো সবুজ কালার */
  --accent-glow: rgba(34, 197, 94, 0.2);
}

@layer base {
  html { scroll-behavior: smooth; }
  body {
    background-color: var(--bg-color);
    color: var(--text-main);
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* ছবির মতো ডার্ক মেশ গ্রেডিয়েন্ট */
    background-image: 
      radial-gradient(at 0% 0%, #d7f8ef 0px, transparent 50%),
      radial-gradient(at 100% 0%, #dce0f1 0px, transparent 50%),
      radial-gradient(at 50% 50%, #e2f3f2 0px, transparent 50%),
      radial-gradient(at 100% 100%, #f9e8fa 0px, transparent 50%),
      radial-gradient(at 0% 100%, #d7f3f5 0px, transparent 50%);
    background-attachment: fixed;
  }
}

.perspective-1000 { perspective: 1000px; }
.card-glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.no-scrollbar::-webkit-scrollbar { display: none; }